.slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: center; */
  /* align-content: center; */
  /* align-items: center; */
  grid-template-areas:
    'title title'
    'img text'
    'img text';
  /* width: 90%; */
  margin: 0 auto;

  /* background-color: red; */
}

.slide .slide-img,
.slide .subtitle {
  align-self: center;
  justify-self: center;
}

.slide .slide-img {
  grid-area: img;
  /* object-fit: cover; */
  margin: 0;
  /* margin-bottom: 1em; */
}

.slide .slide-code,
.slide .img-code {
  border-radius: 10px;
}

.slide .title {
  font-size: 4.5rem;
  grid-area: title;
  color: #caaa74;
  color: #ecc793;
  text-transform: capitalize;
}

.slide .subtitle {
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 4rem;
  text-transform: capitalize;
  /* font-weight: 400; */
}

.slide .slide-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: unset;
  text-align: left;
  align-self: center;
  justify-self: center;
  /* margin: 0 0.5em; */
  padding-right: 1em;
}

.slide .slide-code {
  grid-area: code;
  align-self: center;
  justify-self: center;
  margin: 0;
}

/* ?  //////   slide 1    */
#main-title {
  font-size: 5.2rem;
  text-transform: capitalize;
}

#js-text {
  margin: 0;
  color: #191919;
  padding: 0 0.3em;
  background-color: #f5eb51;
  border-radius: 20px;
}

#presentation-subject {
  /* font-size: 4rem; */
  text-transform: capitalize;
}

.js-letters {
  font-size: 6rem;
}

/* ? //////  slide 2 */

#contents {
  width: 85%;
}

#contents .slide-img {
  justify-self: end;
}

#contents .contents-list {
  align-self: center;
  justify-self: center;
  margin: 0;
}

#contents .contents-item {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0.7em 0;
}

/* ?  //////   slide 3   */

#if-statement {
  display: block;
  /* width: 70%; */
}

#if-statement .slide-img {
  width: 50%;
}

/* ?  //////   slide 3-2   +  slide 6-2  */

#if-statement-2,
#if-else-statement-2,
#else-if-statement-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#if-statement-2 .slide-text,
#if-else-statement-2 .slide-text,
#else-if-statement-2 .slide-text {
  padding: 0 1em;
  font-size: 1.5rem;
  text-align: center;
}

#if-statement-2,
#else-if-statement-2 {
  width: 70%;
}

#if-else-statement-2 {
  width: 60%;
}

/* ?  //////   slide 4  + slide 5   */

#if-statement-example,
#dog-needs-proof {
  grid-template-areas:
    'title title'
    'img code';
  align-items: center;
  /* column-gap: 1em; */
  width: 80%;
}

.slide .img-code {
  justify-self: center;
  max-width: none;
  width: 550px;
}

.slide .img-gif {
  width: 300px;
  max-width: none;
}

#if-statement-example .img-code {
  width: 400px;
}

#dog-needs-proof .img-code {
  /* width: 100%; */
  object-fit: cover;
  height: 300px;
  width: 480px;
}

#dog-needs-proof .img-gif {
  height: 300px;
  object-fit: contain;
}

/* ?  //////   slide 6  */

#if-else-statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 60%;
  margin: 0 auto;
}

/* ?  //////   slide 7 , 9 , 9-2 , 10 , 10-2 , 11 */

#if-else-example,
#else-if-example,
#else-if-example-2,
#switch-statement,
#switch-statement-2,
#switch-example,
#switch-example-2 {
  display: block;
}

#if-else-example .img-gif {
  height: 250px;
  object-fit: cover;
  margin: 0;
}

#if-else-example .slide-code {
  width: 60%;
}

#switch-statement {
  width: 70%;
}

#switch-statement .slide-img {
  width: 80%;
}

#switch-statement-2 .slide-code {
  width: 35%;
}

#switch-statement-2 .slide-text {
  font-size: 1.5rem;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* #slide11-section {
  top: 50px;
} */

#switch-example .title {
  font-size: 4rem;
}

#switch-example .slide-code,
#switch-example .slide-img {
  width: 550px;
  height: 500px;
  object-fit: contain;
}

/* ?  //////   slide 8  */

#else-if-statement {
  display: block;
  width: 95%;
}

#else-if-statement-img {
  /* object-fit: contain; */
  width: 270px;
}

#else-if-statement .slide-text {
  padding: 0 2em;
}

#else-if-statement .slide-code {
  height: 85%;
  width: 90%;
  object-fit: cover;
}

#else-if-statement-2 {
  display: block;
}

/* ?  //////   slide 12  + #slide 13 */

#common-pitfalls,
#cat-dog-vs-human,
#cat-dog-vs-human-2 {
  display: block;
  align-items: center;
}

#common-pitfalls .subtitle {
  font-size: 3rem;
}

#cat-dog-vs-human .slide-img,
#cat-dog-vs-human-2 .slide-code {
  width: 600px;
}

/* ?  //////   ternary operator slides */
#ternary-operator-1,
#ternary-operator-2,
#ternary-operator-3,
#ternary-operator-4,
#ternary-operator-5,
#ternary-operator-6 {
  display: block;
}

#ternary-operator .slide-code {
  width: 220px;
  height: 270px;
  object-fit: contain;
}

/* ?  //////  ternary operator quiz   */
#ternary-operator-quiz,
#sources {
  display: block;
}

#ternary-operator-quiz .slide-code {
  width: 600px;
  height: 350px;
  object-fit: contain;
}

#sources .slide-img {
  width: 400px;
  height: 300px;
  object-fit: contain;
}

#sources .slide-text {
  text-align: center;
  margin: 0;
}

/* ?  //////   slide 16  */
#team-alan {
  grid-template-areas:
    'title title'
    'subtitle subtitle'
    'img text'
    'img code';
  align-items: center;
  column-gap: 1em;

  width: 100%;
}

#team-alan-title {
  text-transform: capitalize;
}

#team-alan-subtitle {
  grid-area: subtitle;
  font-size: 3.3rem;
}

#team-alan-img {
  object-fit: cover;
  height: 400px;
}

#team-alan .name-list {
  justify-content: center;
  align-self: center;
  justify-self: center;
}

#team-alan .name-list-item {
  font-size: 2.5rem;
  margin: 0.2em 0;
}
