/* ?    general styles       */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'title title'
    'img text'
    'img text';
  margin: 0 auto;
}

.margin-0-auto {
  margin: 0 auto;
}

.slide .slide-img,
.slide .subtitle {
  align-self: center;
  justify-self: center;
}

.slide .title {
  font-size: 4.5rem;
  grid-area: title;
  color: #caaa74;
  color: #ecc793;
  text-transform: capitalize;
}

.slide .subtitle {
  font-size: 4rem;
  text-transform: capitalize;
}

.slide .slide-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: unset;
  text-align: left;
  align-self: center;
  justify-self: center;
  padding-right: 1em;
}

.slide .slide-img {
  grid-area: img;
  margin: 0;
}

/* !          NEED TO GET RID OF .img-gif !!!!                */
/* !          need to fix image sizes in several slides       */
.slide .img-gif {
  width: 300px;
  max-width: none;
}

.slide .slide-code {
  grid-area: code;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  margin: 0;
  object-fit: cover;
}

/* ?      Cover Slide     */
#cover-slide {
  width: 80%;
}

#main-title {
  font-size: 5.2rem;
  text-transform: capitalize;
}

#js-text {
  margin: 0;
  color: #191919;
  padding: 0 0.3em;
  background-color: #f5eb51;
  border-radius: 20px;
}

#presentation-subject {
  text-transform: capitalize;
}

.js-letters {
  font-size: 6rem;
}

/* ?                  Contents              */

#contents {
  width: 85%;
}

#contents .slide-img {
  justify-self: end;
}

#contents .contents-list {
  align-self: center;
  justify-self: center;
  margin: 0;
}

#contents .contents-item {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0.7em 0;
}

/* ?            if-statement             */
#if-statement .slide-img {
  width: 50%;
}


/* ?           if-statement-2  +  if-else-statement-2  +  else-if-statement-2    */

#if-statement-2,
#if-else-statement,
#if-else-statement-2,
#else-if-statement-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#if-statement-2 .slide-text,
#if-else-statement-2 .slide-text,
#else-if-statement-2 .slide-text {
  padding: 0 1em;
  margin-top: 1em;
  font-size: 1.5rem;
  text-align: center;
}

#if-statement-2,
#else-if-statement-2,
#else-if-example-2 {
  width: 70%;
}

#if-else-statement-2 {
  width: 60%;
}

/* ?         if-statement-example    +    dog-needs-proof       */

#if-statement-example,
#dog-needs-proof {
  grid-template-areas:
    'title title'
    'img code';
  align-items: center;
  width: 80%;
}

#if-statement-example .slide-code {
  width: 400px;
  max-width: none;
}

#dog-needs-proof .slide-code {
  justify-self: center;
  max-width: none;
  object-fit: cover;
  height: 300px;
  width: 470px;
}

#dog-needs-proof .img-gif {
  height: 300px;
  object-fit: contain;
}


/* ?       if-else-statement      */

#if-else-statement {
  width: 60%;
}

/* ?       if-else-example     */

#if-else-example .img-gif {
  height: 250px;
  object-fit: cover;
  margin: 0;
}

#if-else-example .slide-code {
  width: 60%;
}

/* ?        switch-statement      */

#switch-statement {
  width: 70%;
}

#switch-statement .slide-img {
  width: 80%;
}

#switch-statement-2 .slide-code {
  width: 35%;
}

#switch-statement-2 .slide-text {
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

/* ?          switch-example       */

#switch-example .title {
  font-size: 4rem;
}

#switch-example .slide-code,
#switch-example .slide-img {
  width: 550px;
  height: 500px;
  object-fit: contain;
}

#switch-example-2 .slide-code {
  width: 70%;
}

/* ?      else-if-statement       */

#else-if-statement {
  width: 95%;
}

#else-if-statement-img {
  width: 270px;
}

/* ?       Common Pitfalls   +   cat-dog-vs-human      */

#common-pitfalls .subtitle {
  font-size: 2.3rem;
  font-weight: 400;
}

#common-pitfalls .slide-code {
  width: 70%;
}

#cat-dog-vs-human .slide-img,
#cat-dog-vs-human-2 .slide-code {
  width: 600px;
}

/* ?          Sources          */
#sources .slide-img {
  width: 400px;
  height: 300px;
  object-fit: contain;
}

#sources .slide-text {
  text-align: center;
  margin: 0;
}

/* ?       Team Alan - Final slide      */
#team-alan {
  grid-template-areas:
    'title title'
    'subtitle subtitle'
    'img text'
    'img code';
  align-items: center;
  column-gap: 1em;

  width: 100%;
}

#team-alan-title {
  text-transform: capitalize;
}

#team-alan-subtitle {
  grid-area: subtitle;
  font-size: 3.3rem;
}

#team-alan-img {
  object-fit: cover;
  height: 400px;
}

#team-alan .name-list {
  justify-content: center;
  align-self: center;
  justify-self: center;
}

#team-alan .name-list-item {
  font-size: 2.5rem;
  margin: 0.2em 0;
}
